table, table th, table tr {
	text-align: center;
}

/*
body {
	background-color: red;
}
*/

.thumbnail a {
	text-decoration:none; text-align:center;
}

.thumbnail:hover {
	box-shadow: 3px 3px 5px gray;
}

.thumbnail { transition: all .2s ease-in-out; }
.thumbnail:hover { transform: scale(1.02); }
